@import '~normalize.css';

$margin: 48px;
$appbarHeight: 64px;

$red-light: rgb(253,241,240);
$red: rgb(244,237,244);
$red-dark: rgb(171,62,91);
$black: rgb(74,74,74);

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
}

.appbar {
    width: 100%;
    background-color: $red-light;
    overflow: auto;
    height: $appbarHeight; 

    .icon {
        margin: 8px $margin;
        height: $appbarHeight - 20;
    }
}

.innovations {
    margin: 32px $margin;
    .header {
        position: relative;
        .title {
            color: $red-dark;
        }

        .categories {
            position: absolute;
            right: $margin;
            top: 0px;
        }

    }
    
    

    .container {
        display: flex;
        flex-wrap: wrap;

        .item {
            display: flex;
            width: 33.3333%;

            .paper {
                border: solid $red 1px;
                width: 100%;
                min-height: 180px;
                margin: 24px 24px 0px 0px;
                padding: 24px;
                position: relative;

                .title {
                    font-size: 18px;
                    font-weight: bold;
                }
                
                .tag {
                    font-size: 13px;
                }

                .user {
                    position: absolute; 
                    bottom: 0; 
                    margin-bottom: 24px;

                    .picture {
                        float: left;
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                        margin-right: 12px;
                        border: 0px;
                    }

                    .name {
                        color: $red-dark;
                        font-weight: bold;
                        font-size: 13px;
                    }

                    .job-title {
                        font-size: 13px;
                    }
                }
            }
        }
      }
}
